
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap')* {
  margin: 0;
  padding: 0;
}
body {
  background-position: inherit;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
}
header {
  background-image: url("../res/Group 77725534.svg");
  background-repeat: no-repeat;
  background-blend-mode: hue;
  background-size: cover;
}
header {
  align-items: center;
  padding-top: 20px;
  text-align: center;
  justify-content: center;
}
#header1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}
#img1 {
  width: 81px;
}
#headleft {
  display: flex;
  width: 30%;
  gap: 30px;
  align-items: center;
}
#sea {
  width: 20px;
  height: 20px;
}
#but1 {
  width: 80px;
  height: 40px;
  border-radius: 0 5px 5px 0;
  background-color: #d3ad7f;
  border: none;
  color: white;
  margin-right: 80px;
}
#headright {
  justify-content: flex-end;
  display: flex;
  width: 40%;
  gap: 30px;
  align-items: center;
}
#headright img {
  display: flex;
  width: 46px;
  justify-content: flex-end;
}
#straightline {
  display: flex;
  border: 1px solid white;
}
nav {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  gap: 5px;
  text-decoration: none;
  color: white;
  align-items: center;
}
.quote {
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  justify-content: center;
  text-align: center;
}
.quote-top {
  position: absolute;
  top: 45px;
  left: 36%;
}
.quote-bottom {
  position: absolute;
  bottom: 10px;
  right: 38%;
}
#p1 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #938e8e;
  padding-bottom: 20px;
}
#but {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  align-items: center;
  padding-bottom:7%;
  gap: 1%;
}
#ab {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  background-color: white;
  border: none;
  color: black;
}
#or {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  background-color: #d3ad7f;
  border: none;
  color: white;
}
#sec2 {
  display: flex;
  padding-top: 70px;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#cof{
  width: 80%;
  justify-content: center;
  align-items: center;
}
#sec2-2 {
  display: flex;
  text-align: right;
  flex-grow: 1;
}
.background-image1,
.background-image2 {
  width: 344px;
  height: 230px;
  left: 71.54px;
  flex-direction: row;
}
.background-image1 {
  left: 71.54px;
  transform: rotate(80deg);
  top: 65px;
  position: absolute;
  top: 60px;
  left: -170px;
}
.background-image2 {
  top: 286.41px;
  left: 1121px;
  transform: rotate(340deg);
  position: absolute;
  top: 120px;
  left: 800px;
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
#sec3 {
  display: flex;
  padding-top: 80px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding-bottom:20px ;
}
#line1 {
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 10px;
}
.line {
  display: flex;
  width: 90px;
  border: solid white 0.3px;
}
#sec3-1 {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#box1,#box2,#box3{
  border: solid white 1px;
  height: 250px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#box1,#box2,#box3 p{
  gap: 4%;
}
#sec3-1 img{
  width: 60%;
}


